$background-color: #320740;
$hover-color: #f35b27;
$vague-color: #421059;

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: Arial, sans-serif;
  color: white;
  overflow: hidden;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  background-image: url('../images/logo.png');
  background-position: center -10vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.token-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 55vh;
}

.token-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(45px, 9vw, 120px);
  z-index: 10;
  text-align: center;
}

.token-icon {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.token-item:hover .token-icon {
  filter: grayscale(0%);
  transform: scale(1.2);
}

.token-name {
  margin-top: 15px;
  font-size: 1.1em;
  text-align: center;
}

.vague-link {
  position: relative;
  z-index: 10;
  margin-top: 30px;
}

.vague-link a {
  color: $vague-color;
  text-decoration: none;
  transition: color 0.3s ease;
}

.vague-link a:hover {
  color: $hover-color;
}

.social-links {
  position: fixed;
  bottom: 15vh;
  display: flex;
  gap: 20px;
  z-index: 10;
}

.social-links svg {
  width: 24px;
  height: 24px;
  fill: white;
  transition: fill 0.3s ease;
}

.social-links a:hover svg {
  fill: $hover-color;
}