$background-color: #300040;
$text-color: #f35b27;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  overflow: hidden;
}

.background {
  position: fixed;
  top: -10vh;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-links {
  position: fixed;
  bottom: 25vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;

  a {
    svg {
      width: 30px;
      height: 30px;
      fill: white;
      transition: fill 0.3s ease;
    }

    &:hover svg {
      fill: $text-color;
    }
  }

  .x-twitter {
    svg {
      transition: fill 0.3s ease;
    }

    .twitter-logo {
      display: none;
    }

    &:hover {
      .x-logo {
        display: none;
      }
      .twitter-logo {
        display: block;
      }
    }
  }
}
