$background-color: #320740;
$text-color: #f35b27;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  overflow: hidden;
}

.background {
  position: fixed;
  top: -10vh;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-links {
  position: fixed;
  bottom: 39vh; // Increased to move above social links
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%; // Set a width to prevent wrapping

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; // Prevent wrapping

    li {
      display: inline-block;
      white-space: nowrap; // Prevent individual items from wrapping

      a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        transition: color 0.3s ease;

        &:hover {
          color: $text-color;
        }
      }

      &:not(:last-child)::after {
        content: "\25FC";
        color: white;
        margin: 0 10px;
      }
    }
  }
}

.social-links {
  position: fixed;
  bottom: 30vh; // Decreased to move below project links
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;

  a {
    svg {
      width: 30px;
      height: 30px;
      fill: white;
      transition: fill 0.3s ease;
    }

    &:hover svg {
      fill: $text-color;
    }
  }

  .x-twitter {
    svg {
      transition: fill 0.3s ease;
    }

    .twitter-logo {
      display: none;
    }

    &:hover {
      .x-logo {
        display: none;
      }
      .twitter-logo {
        display: block;
      }
    }
  }
}